---
import NewsManagement from '../../../components/manage/NewsManagement.tsx'
import PrivateHeader from '../../../components/manage/PrivateHeader.astro'
import Layout from '../../../layouts/Layout.astro'
import { canAccessRoute, canDelete, type Role } from '../../../lib/utils/permissions'

const user = Astro.locals.user
if (!user) {
  return Astro.redirect('/sign-in')
}

if (!canAccessRoute(user.role as Role, Astro.url.pathname)) {
  return Astro.redirect('/unauthorized')
}

const userCanDelete = canDelete(user.role as Role)
---

<Layout title="Gestión de Noticias - Panel de Administración">
  <PrivateHeader slot="header" />
  <div class="h-[calc(100vh-112px)] overflow-hidden">
    <NewsManagement client:load currentUserId={user.id} canDelete={userCanDelete} />
  </div>
</Layout>
