---
import type { PublicDetailSpecie } from '../../../lib/public/repositories'

interface Props {
  species: PublicDetailSpecie
}

const { species } = Astro.props
---

{
  species.description && (
    <div class="mb-8">
      <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300">{species.description}</p>
    </div>
  )
}
